

/*HEADER**/
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans',san-serif;
}

img {
    max-width:100%;
}
  #wrapper {
    max-width: 940px;
    margin: 0 auto;
  
    padding: 0 5%;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    text-align: center;
    margin:0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /* first value is for the top.2nd value is for left and right. 3rd value is for the bottom */
    margin: -5px 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}
.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
}
/*HEADER**/
/********************************* 
CONTACTS PAGE
*********************************/

.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
 
}
       
    
    

.contact-info a {
  display:block;  
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}


.contact-info li.email a{
   background-image: url('../img/grem.png');
}


.contact-info li.facebook a{
    background-image: url('../img/fce.png');
}



/*********************************
COLORS
*********************************/
body {
    background-color: white;
    color: grey;
}
a {
    color: red; /*links*/
}

header {
    background:#3385FF ; /*top*/
}

h1,h2 {
    color:#000033; /*writing*/
}
nav {
    background:#002966 ; /*link background*/
}

nav a,nav a:visited {
    color: white;
}

nav a.selected,nav a:hover {
    color:#8A008A;
}
/*********************************
COLORS
*********************************/


/********************************
NAVAGATION
********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight:800;
    padding:15px 10px;
}
/*********************************
FOOTER
*********************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color:red;
    clear: both;
}

.social-media-icon {
    width: 20px;
    height:20px;
    margin:0 5px;
    
}

/*********************************
Page portfolio
*********************************/
#gallery {
   margin:0;
   padding:0;
   list-style: none;
}

#gallery li {
  float: left;
   width:45%;
    margin:2.5%;
    background-color: #6666FF;
    color:#FF0000;
  
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color:black;
}
/*********************************
About me page
*********************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}

/**********************************
Media Quieries
***********************************/
/*TWO COLUMN LAYOUTS*/

@media screen and (min-width:480px){
    #primary {
        width:50%;
        float: left;
    }
    
    #secondary {
        width:40%;
        float: right;
    }
    /*THREE COLUMN LAYOUT PORTFOLIO*/
    #gallery li {
        width:28.3333%;
    }
   /*ABOUT PAGE*/
   .profile photo {
       float: left;
       margin: 0 5% 80px 0;
   }
}

@media screen and (min-width:660px){
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2  {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
   
    

}